<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='feedback.css') }}">
    {% include 'scripts.html' %}
</head>
<body>
    {% include 'nav.html' %}
    
    <h1 style="margin-left: 20px;">Send us your Feedback!</h1>
    <div>
        <form action="" method="post" class="fd-form">
            <div>
                <label for="name">Name:</label>
                <input type="text" name="fd-name" id="name" required>
            </div>
            <br>
            <div>
                <label for="email">Email:</label>
                <input type="email" name="fd-email" id="email" required>
            </div>
            <br>
            <div>
                <label for="message">Message:</label>
                <textarea name="fd-message" id="message" rows="5" required></textarea>
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
    {% include 'footer.html' %}
</body>
</html>