<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% include 'scripts.html' %}
</head>

<body>
    {% include 'nav.html' %}


    <div class="w-full max-w-md md:max-w-xl text-left">
        <h1 class="px-4 py-2 text-2xl font-display text-4xl font-bold underline">Send us your Feedback!</h1>
        <form class="px-8 pt-6 pb-5 mb-3" method="post" action="">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="fd-name">
                    Name
                </label>
                <input name="fd-name"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="fd-name" type="text" placeholder="John Doe" required>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="fd-email">
                    Email
                </label>
                <input name="fd-email"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="fd-email" type="email" placeholder="john.doe@email.com" required>
            </div>
            <div class="mb-4">
                <label for="fd-message" class="block text-gray-700 text-sm font-bold mb-2">
                    Message
                </label>
                <textarea name="fd-message" id="fd-message" cols="" rows="5" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Leave a comment..." required></textarea>
            </div>
            <div class="flex items-center justify-between">
                <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="submit">
                    Submit
                </button>
            </div>
        </form>
    </div>

    {% include 'footer.html' %}
</body>

</html>