<footer class="bg-gray-900 text-white py-3 px-4 justify-between items-center fixed bottom-0 w-full">
    <div class="container mx-auto flex justify-between items-center">
        <div>
            <a href="{{ url_for('index') }}"> &copy; 2023 FireForcasters</a>
        </div>
        <div>
            <ul class="flex space-y-2 small">
                <li>
                    <div>Contact Us:</div> 
                    <div class="hover:text-gray-300">(+222)-1234567890</div>
                    <div class="hover:text-gray-300">abc@gmail.com</div>
                </li>
            </ul>
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>