<button class="top-link hide" onclick="openForm()"><i class="fa-solid fa-bullhorn" alt="menu"></i></button>

<div class="chat-popup" id="myForm">
  <form action="" class="form-container">
    <h1><b>🚨REPORT🚨</b></h1>

    <label for="msg">Location of Fire</label>
    <input placeholder="Type message.." name="msg" required cols="200" rows="5">

    <button type="submit" class="btn">Send</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>

<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>