<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='report.css') }}">

<script src="https://cdn.tailwindcss.com"></script>

<script src="https://kit.fontawesome.com/52a68816aa.js" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.min.js" integrity="sha512-7U4rRB8aGAHGVad3u2jiC7GA5/1YhQcQjxKeaVms/bT66i3LVBMRcBI9KwABNWnxOSwulkuSXxZLGuyfvo7V1A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />
