<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='report.css') }}">

<script src="https://cdn.tailwindcss.com"></script>

<script src="https://kit.fontawesome.com/52a68816aa.js" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />

<script src="{{ url_for('static', filename='tailwind.config.js')}}"></script>